extends layout

block vars
	- var page = 'txt'

block content
	.am-page-txt
		h1 
			i.am-font-graphic .txt 
			span Thoughts, Tips and Tricks
		.deck.hidden
			.am-grid-5-4
				.am-article
					!= content || ''

block scripts
	script.
		var techList = {
			gulp: "/assets/stack/gulp128p.png",
			webgl: "/assets/stack/webgl130p.png",
			nodejs: "/assets/stack/nodejs140p.png",
			jade: "/assets/stack/jade400p.png",
			sass: "/assets/stack/sass320p.png",
			bower: "/assets/stack/bower400p.png",
			docky: "/assets/stack/docky200p.png",
			numix: "/assets/stack/numix256p.png",
			xubuntu: "/assets/stack/xubuntu375p.png",
			zsh: "/assets/stack/zsh200-125p.png",
			guake: "/assets/stack/guake85p.jpg",
			compiz: "/assets/stack/compiz600p.png"
		};

		$(document).ready(function(){

			var $sourceData = $(".lang-meta").parent();
			var $techStack = $("<div></div>").addClass("am-card-stack");

			var metaData = JSON.parse($sourceData.text());

			var techStackArr = metaData.techStack;

			$sourceData.replaceWith($techStack);

			var techStackLength = techStackArr.length;

			techStackArr.forEach(function(tech){
				var $techElGrid = $("<div></div>").addClass("am-grid-"+techStackLength);
				if(techList[tech.toLowerCase()] !== undefined){
					$techElGrid.append($("<img></img>").attr("src",techList[tech.toLowerCase()]));
				} else {
					$techElGrid.append($("<span></span>").text(tech));
				}
				$techStack.append($techElGrid);
			})

			var $metaData = $("<div></div>").addClass("am-article-meta");
			$metaData.html("");
			$metaData.append(
				$("<p></p>").text(metaData.author)
					.prepend($("<img/>").attr("src",metaData.avatar)
				)
			);
			$metaData.append($("<p></p>").addClass("fa fa-calendar").text(moment(metaData.createDate).format("ll")));
			//$metaData.append($("<p></p>").text("Last Update: "+moment(metaData.lastUpdate).format("ll")));
			

			var $h1 = $($(".am-article h1")[0]);

			$h1.after($metaData)

		})
