extends layout

block vars
	- var page = 'txt'

block content
	.am-page-txt
		h1 
			i.am-font-graphic .txt 
			span Thoughts, Tips and Tricks
		.deck.hidden
			.am-grid-5-4
				.am-article
					!= content || ''