body {
	background-image: url("../assets/background.jpg");
	background-attachment: fixed;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: $am-font-family;
}

a {
	text-decoration: none;
	color: #000;
}

i {
	font-style: normal;
}

h1, h2, h3, h4 {
	margin: 0px;
}