body {
	background-image: url("../assets/background.jpg");
	background-attachment: fixed;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: $am-font-text;
	font-size: $am-text-size;
}


.am-font-graphic {
	font-family: $am-font-graphic;
}

.am-font-mono {
	font-family: $am-font-mono;
}

.am-font-big {
	font-size: 52px!important;
}

.am-font-medium {
	font-size: 32px!important;
}

a {
	text-decoration: none;
	color: #124;
}

p > a:hover {
	text-decoration: underline;
}

i {
	font-style: normal;
}

h1, h2, h3, h4 {
	margin: 0px;
}

h1 {
	font-size: 32px;
}