.am-grid {	
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

@mixin am-grid($parts) {
    width: 100%/$parts;
    display: block;
	float: left;
	box-sizing: border-box;
}

.am-grid-2 {
	@include am-grid(2)
}
.am-grid-3 {
	@include am-grid(3)
}
.am-grid-4 {
	@include am-grid(4)
}
.am-grid-5 {
	@include am-grid(5)
}
.am-grid-6 {
	@include am-grid(6)
}
.am-grid-8 {
	@include am-grid(8)
}
.am-grid-10 {
	@include am-grid(10)
}
.am-grid-12 {
	@include am-grid(12)
}