.am-layout {
	position: absolute;
	width: 100%;
	height: 100%;
	> * {
		position: absolute;
		top: 0px;
		bottom: 0px;
		-moz-transition: .3s ease all;
		-webkit-transition: .3s ease all;
		transition: .3s ease all;
	}
	.am-panel {
		background: $am-color-dark;
		left: 0px;
		margin-left: $am-panel-nav-size - $am-panel-width;
		width: $am-panel-width;
		&.opened {
			margin-left: 0px;
			.am-panel-toggle {
				background: $am-color-light;
			}
			& + .am-content {
				left: $am-panel-width;
			}
		}
		&.hidden {
			margin-left: -$am-panel-width;
			& + .am-content {
				left: 0px;
			}
		}
		.am-brand {
			width: 100%;
			height: $am-panel-nav-size;
			line-height: $am-panel-nav-size;
			background: $am-color-light;
			font-size: $am-panel-icon-size;
			span {
				margin-left: 10px;
			}
		}
		a.am-panel-toggle {
			position: absolute;
			top: 0px;
			right: 0px;
			width: $am-panel-nav-size;
			height: $am-panel-nav-size;
			line-height: $am-panel-nav-size;
			padding: 0px;
			margin: 0px;
			text-align: center;
			font-size: $am-panel-icon-size;
			cursor: pointer;
			&:hover {
				background: $am-color-light;
			}
		}
		.am-nav {
			margin: 0px;
			padding: 0px;
			width: 100%;
			list-style-type: none;
			li {
				height: $am-panel-nav-size;
				line-height: $am-panel-nav-size;
				font-size: $am-panel-text-size;
				cursor: pointer;
				&:hover, &.active {
					background: $am-color-light;
				}
				a {
					width: 100%;
					height: 100%;
					display: block;
					span {
						height: $am-panel-nav-size;
						line-height: $am-panel-nav-size;
						margin-left: 10px;

					}
					i {
						float: right;
						height: $am-panel-nav-size;
						width: $am-panel-nav-size;
						line-height: $am-panel-nav-size;
						font-size: $am-panel-icon-size;
						text-align: center;
						&.txt {
							font-size: $am-panel-text-size;
						}
					}
				}
			}
		}
	}
	.am-content {
		left: $am-panel-nav-size;
		right: 0px;
		padding: 10px;
		overflow-y: scroll;
		overflow-x: none;
		.deck > * {
			padding: 0px 10px;
			.am-card {
				background: #78a;
				width: 100%;
				height: 232px;
				box-sizing: border-box;
				position: relative;
				h1, h2, h3 {
					width: 100%;
					text-align: center;
					z-index: 2;
				}
				h1 {
					margin-top: 30px;
					font-size: $am-card-h1-size;
				}
				h2 {
					margin-top: 7px;
					font-size: $am-card-h2-size;
				}
				h3 {
					margin-top: 7px;
					font-size: $am-card-h3-size;
				}
				.am-card-stack {
					height: 56px;
					margin: 0px;
					position: absolute;
					display: block;
					width: 100%;
					bottom: 0px;
					background: #fff;
					opacity: 0.9;
					> * {
						text-align: center;
						margin: 0px;
						padding: 0px;
						height: 56px;
						line-height: 56px;
						span {
							font-weight: 700;
						}
						img {
							margin: 3px 0px;
							width: 50px;
							height: 50px;
						}
					}
					z-index: 2;
				}
			}
		}
		> * > h1 {
			padding: 10px;
		}
		
	}
}