$am-panel-width: 384px;
$am-color-dark: rgba(153, 170, 187, 0.5); //#689;
$am-color-light: rgba(170, 187, 204, 0.5);//#79a;


$am-color-article-background: rgba(255, 255, 255, 0.5);//#79a;

$am-color-blue-light: #bcd;
$am-color-red-light: #e77;
$am-color-yellow-light: #ed6;
$am-color-green-light: #bd7;

$am-text-size: 18px;

$am-panel-nav-size: 72px;
$am-panel-icon-size: 38px;
$am-panel-text-size: 26px;

$am-font-text: 'Abel';
$am-font-graphic: 'Londrina Sketch';
$am-font-mono: 'Monaco';

$am-card-h1-size: 38px;
$am-card-h2-size: 28px;
$am-card-h3-size: 22px;
