$am-panel-width: 384px;
$am-color-dark: #568;
$am-color-light: #78a;


$am-color-blue-dark: #568;
$am-color-blue-light: #78a;
$am-color-red-dark: #865;
$am-color-red-light: #a87;
$am-color-green-dark: #586;
$am-color-green-light: #7a8;

$am-panel-nav-size: 64px;
$am-panel-icon-size: 38px;
$am-panel-text-size: 26px;


$am-font-family: 'Abel';