$am-panel-width: 384px;
$am-color-dark: #689;
$am-color-light: #79a;


$am-color-blue-dark: #578;
$am-color-blue-light: #79a;
$am-color-red-dark: #865;
$am-color-red-light: #ed6;
$am-color-green-dark: #586;
$am-color-green-light: #bd7;

$am-panel-nav-size: 64px;
$am-panel-icon-size: 38px;
$am-panel-text-size: 26px;


$am-font-family: 'Abel';