@import url(http://fonts.googleapis.com/css?family=Open+Sans|Abel|Londrina+Sketch|Monaco:400,700);

@import 'inc/materialize';

@import 'inc/vars';

@import 'inc/common';
@import 'inc/grid';

@import 'inc/layout';

@import 'inc/animations/typed';
@import 'inc/animations/deck';

@import 'inc/pages/home';
@import 'inc/pages/txt';