@mixin am-op-bg($url) {
	&:hover:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.9;
		background-image: url($url);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

.am-home {
	.am-banner.am-funstuffjs {
		background: $am-color-red-light;
	}
	.am-banner.am-iblokz {
		background: $am-color-blue-light;
	}
	.am-banner.am-qoolejs {
		background: $am-color-blue-light;
	}
	.am-banner.am-restapi {
		background: $am-color-green-light;
	}
	.am-banner.am-algorave {
		background: $am-color-red-light;
	}
}