.am-page-txt {
	.am-article {
		@extend .card;
		padding: 0px 40px;
		font-size: 18px;
		a {
			color: #24a;
		}

		img {
			text-align: center;
			max-width: 100%;
		}

		h1 {
			margin: 0px -50px;
			line-height: 80px;
			padding-left: 50px;
			background: $am-color-yellow-light;
			font-size: 36px;
		}

		.am-card-stack {
			position: relative;
			margin: 0px -40px;
			padding: 5px 0px;
			width: auto;
		}
		h2 {
			margin: 24px -40px;
			padding: 0px 40px;
			line-height: 50px;
			height: 50px;
			background: $am-color-yellow-light;
			font-size: 28px;
			box-sizing: border-box;
		}

		p, h3, h4 {
			margin: 16px 0px 8px 0px;
		}

		pre {
			font-size: 14px;
			line-height: 25px;
			font-family: $am-font-mono;
			background: #222;
			color: #aaa;
			display: block;
			padding: 20px 0px;
			border-radius: 2px;
			margin: 0px 0px 8px 0px;
		}

		ul, ol {
			margin: 0px 0px 8px 0px;
		}
	}
}