extends ../layout

block vars
	- var page = 'contact'

block content
	.am-page-contact
		h1 
			i.am-font-graphic.am-font-medium (@) 
			span Get in touch
		.deck.hidden
			.am-grid-3
				.card
					p: a(href="https://github.com/alex-milanov") Fork my projects on GitHub
			.am-grid-3
				.card
					p: a(href="https://www.linkedin.com/pub/alex-milanov/13/82/395") Connect with me on LinkedIn
			.am-grid-3
				.card
					p: a(href="https://twitter.com/alex_milanov_") Follow me on twitter