extends layout

block vars
	- var page = "home"

block content
	.am-home
		h1
			i.fa.fa-chevron-right
			span Hi! I'm Alex. Check out some of the things I am involved in:
		.am-grid-3-2: .am-banner.am-funstuffjs.card.hoverable
			h1 Fun Stuff With JavaScript
			h2 Live Coding Stream
			h3 Sundays 18:00 EET
			.am-banner-stack
				.am-grid-4: span THREE.js
				.am-grid-4: img(src='/assets/stack/webgl130p.png')
				.am-grid-4: span SASS
				.am-grid-4: img(src='/assets/stack/gulp128p.png')
		.am-grid-3: .am-banner.am-qoolejs.card.hoverable
			h1 QooleJS
			h2 Resurrecting a Quake2 Level Editor
			h3 using THREE.js
			.am-banner-stack
				.am-grid-4: span THREE.js
				.am-grid-4: img(src='/assets/stack/webgl130p.png')
				.am-grid-4: span SASS
				.am-grid-4: img(src='/assets/stack/gulp128p.png')
		.am-grid-3-2: .am-banner.am-iblokz.card.hoverable
			h1 iBlokz
			h2 Full-Stack RAD Toolkit
			.am-banner-stack
				.am-grid-8: img(src='/assets/stack/nodejs140p.png')
				.am-grid-8: span express
				.am-grid-8: img(src='/assets/stack/mongodb128p.png')
				.am-grid-8: img(src='/assets/stack/angularjs256p.png')
				.am-grid-8: img(src='/assets/stack/ionic196p.png')
				.am-grid-8: span Bootstrap
				.am-grid-8: span SASS
				.am-grid-8: img(src='/assets/stack/gulp128p.png')
		.am-grid-3: .am-banner.am-restapi.card.hoverable
			h1 Build a RESTful API
			h2 Step by Step tutorial
			.am-banner-stack
				.am-grid-3: img(src='/assets/stack/nodejs140p.png')
				.am-grid-3: span express
				.am-grid-3: span REST
			