html
	head
		title AlexMilanov.com
		link(rel='stylesheet',href='lib/font-awesome.css')
		link(rel='stylesheet',href='css/style.css')
	body
		.am-container
			.am-panel
				a.am-panel-toggle.fa.fa-bars(
					data-toggle-ref=".am-panel",
					data-toggle-class="hidden"
				)
				.am-brand
					.am-title AlexMilanov.com
				ul.am-nav
					li: a 
						i.fa.fa-tachometer 
						span Showcase
					li: a
						i .js
						span Fun Stuff with JavaScript
					li: a
						i iB
						span iBlokz FullStack RAD
					li: a
						i.fa.fa-font
						span Thoughts, Tips & Tricks
					li: a
						i.fa.fa-calendar
						span Check my Calendar
					li: a
						i.fa.fa-envelope
						span Get it touch
			.am-content


		script(src='lib/jquery.js')
		script(src='js/main.js')
			
