extends layout

block vars
	- var page = "home"

block content
	.am-home
		h1
			i.fa.fa-chevron-right
			| Hi! I'm Alex. Check out some of the things I am involved in:
		.am-grid-2: .am-banner.am-funstuffjs
			h1 Fun Stuff With JavaScript
			h2 Live Coding Stream
			h3 Sundays 18:00 EET
			.am-banner-stack
				.am-grid-4: span THREE.js
				.am-grid-4: img(src='/assets/stack/webgl130p.png')
				.am-grid-4: span SASS
				.am-grid-4: img(src='/assets/stack/gulp128p.png')
		.am-grid-2: .am-banner.am-iblokz
			h1 iBlokz
			h2 Full-Stack RAD Toolkit
			h3 http://github.com/iblokz
			.am-banner-stack
				.am-grid-8: img(src='/assets/stack/nodejs140p.png')
				.am-grid-8: span express
				.am-grid-8: img(src='/assets/stack/mongodb128p.png')
				.am-grid-8: img(src='/assets/stack/angularjs256p.png')
				.am-grid-8: img(src='/assets/stack/ionic196p.png')
				.am-grid-8: span Bootstrap
				.am-grid-8: span SASS
				.am-grid-8: img(src='/assets/stack/gulp128p.png')
		.am-grid-3: .am-banner.am-qoolejs
			h1 QooleJS
			h2 Resurrecting a Quake2 Level Editor
			h3 http://github.com/alex-milanov/qoolejs
			.am-banner-stack
				.am-grid-4: span THREE.js
				.am-grid-4: img(src='/assets/stack/webgl130p.png')
				.am-grid-4: span SASS
				.am-grid-4: img(src='/assets/stack/gulp128p.png')
		.am-grid-3: .am-banner.am-restapi
			h1 Build RESTful API
			h2 Step by Step tutorial
			h3 http://alexmilanov.com/blog/building-restful-apis
			.am-banner-stack
				.am-grid-3: img(src='/assets/stack/nodejs140p.png')
				.am-grid-3: span express
				.am-grid-3: span REST
		.am-grid-3: .am-banner.am-algorave
			h1 Algo Rave Party
			h2 Music making and writing code
			h3 Comming Soon
			.am-banner-stack