a.am-panel-toggle.am-font-graphic.am-font-big(
	data-toggle-ref=".am-panel",
	data-toggle-class="opened"
) =
.am-brand
	span 
ul.am-nav
	li(class=((page=='home') ? 'active' : '')): a(href="/")
		i.am-font-graphic.am-font-medium >_  
		span Home
	li(class=(page=='fun') ? 'active' : ''): a(href="/fun")
		i.am-font-graphic.am-font-medium {fun}
		span Fun Stuff with JavaScript
	li(class=(page=='git') ? 'active' : ''): a(href="/git")
		i.am-font-graphic.am-font-medium= "<git>" 
		span Open Source
	li(class=(page=='t') ? 'active' : ''): a(href="/t")
		i.am-font-graphic.am-font-medium .txt 
		span Thoughts, Tips & Tricks
	li(class=(page=='calendar') ? 'active' : ''): a(href="/calendar")
		i.am-font-graphic.am-font-medium [07]
		span Calendar
	li(class=(page=='contact') ? 'active' : ''): a(href="/contact")
		i.am-font-graphic.am-font-medium (@)
		span Get in touch